---
# tasks file for ansible-role-oiofs

- name: 'Include OS-specific variables'
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}.yml"
    - "{{ ansible_os_family }}.yml"
  tags:
    - install
    - configure

- name: 'oiofs: Install packages'
  package:
    name: "{{ pkg }}"
    state: present
  loop_control:
    loop_var: pkg
  with_items: "{{ openio_oiofs_packages }}"
  ignore_errors: "{{ ansible_check_mode }}"
  register: install_packages
  until: install_packages is success
  retries: 5
  delay: 2
  tags: install

- name: 'oiofs: Ensure OpenIO SDS configuration directory exists'
  file:
    path: "{{ openio_sds_conf_directory }}"
    owner: openio
    group: openio
    state: directory
    mode: 0755
  tags: configure

- name: 'oiofs: Ensure OpenIO oiofs configuration directory exists'
  file:
    path: "{{ openio_oiofs_conf_directory }}"
    owner: openio
    group: openio
    state: directory
    mode: 0755
  tags: configure

- name: 'oiofs: Setup mountpoint'
  include_tasks: mountpoint_present.yml
  vars:
    mountpoint_id: "{{ mountpoint.namespace | default(oiofs_mountpoint_default_namespace) }}\
                     -{{ mountpoint.account }}-{{ mountpoint.container }}"
  with_items: "{{ oiofs_mountpoints }}"
  loop_control:
    loop_var: mountpoint
  when: mountpoint.state == 'present'
  tags: configure

- name: 'oiofs: Unsetup mountpoint'
  include_tasks: mountpoint_absent.yml
  vars:
    mountpoint_id: "{{ mountpoint.namespace | default(oiofs_mountpoint_default_namespace) }}\
                     -{{ mountpoint.account }}-{{ mountpoint.container }}"
  with_items: "{{ oiofs_mountpoints }}"
  loop_control:
    loop_var: mountpoint
  when: mountpoint.state == 'absent'
  tags: configure
...
