{
    "attributes_timeout": {{ item.attributes_timeout | default(oiofs_mountpoint_default_attributes_timeout) }},
    "redis_sentinel_server": [ {% for redis_ip in openio_redis_cluster_ip[:-1] %} "{{ redis_ip }}:{{ 6012 }}", {% endfor %} "{{ openio_redis_cluster_ip[-1] }}:6012" ],
    "redis_sentinel_name": "{{ item.redis_sentinel_name | default(oiofs_mountpoint_default_redis_sentinel_name) }}",
    "cache_directory": "{{ item.cache_directory | default(oiofs_mountpoint_default_cache_directory) }}",
    "cache_size": {{ item.cache_size_bytes | default(oiofs_mountpoint_default_cache_size_bytes) }},
    "cache_size_on_flush": {{ item.cache_size_on_flush_bytes | default(oiofs_mountpoint_default_cache_size_on_flush_bytes) }},
    "cache_timeout": {{ item.cache_timeout | default(oiofs_mountpoint_default_cache_timeout) }},
    "cache_asynchronous": {{ item.cache_asynchronous | default(oiofs_mountpoint_default_cache_asynchronous) }},
    "stats_server": "{{ item.stats_server | default(oiofs_mountpoint_default_stats_server) }}",
    "log_level": "{{ item.log_level | default(oiofs_mountpoint_default_log_level) }}",
    "auto_retry": {{ item.auto_retry | default(oiofs_mountpoint_default_auto_retry) }},
    "retry_delay": {{ item.retry_delay | default(oiofs_mountpoint_default_retry_delay) }},
    "max_packed_chunks": {{ item.max_packed_chunks | default(oiofs_mountpoint_default_max_packed_chunks) }}
}
