{
    "attributes_timeout": {{ mountpoint.attributes_timeout | default(oiofs_mountpoint_default_attributes_timeout) }},
    "redis_sentinel_server": {{ mountpoint.redis_sentinel_cluster | default(oiofs_mountpoint_default_redis_sentinel_cluster) | to_json }},
    "redis_sentinel_name": "{{ mountpoint.redis_sentinel_name | default(oiofs_mountpoint_default_redis_sentinel_name) }}",
    "cache_directory": "{{ mountpoint.cache_directory | default(oiofs_mountpoint_default_cache_directory) }}",
    "cache_size": {{ mountpoint.cache_size_bytes | default(oiofs_mountpoint_default_cache_size_bytes) }},
    "cache_size_on_flush": {{ mountpoint.cache_size_on_flush_bytes | default(oiofs_mountpoint_default_cache_size_on_flush_bytes) }},
    "cache_timeout": {{ mountpoint.cache_timeout | default(oiofs_mountpoint_default_cache_timeout) }},
    "cache_asynchronous": {{ mountpoint.cache_asynchronous | default(oiofs_mountpoint_default_cache_asynchronous) }},
    "stats_server": "{{ mountpoint.stats_server | default(oiofs_mountpoint_default_stats_server) }}",
    "log_level": "{{ mountpoint.log_level | default(oiofs_mountpoint_default_log_level) }}",
    "auto_retry": {{ mountpoint.auto_retry | default(oiofs_mountpoint_default_auto_retry) }},
    "retry_delay": {{ mountpoint.retry_delay | default(oiofs_mountpoint_default_retry_delay) }},
    "max_packed_chunks": {{ mountpoint.max_packed_chunks | default(oiofs_mountpoint_default_max_packed_chunks) }}
}
