[{{ item.namespace | default(oiofs_mountpoint_default_namespace) }}]
proxy={{ item.oioproxy_host | default(oiofs_mountpoint_default_oioproxy_host) }}:{{ item.oioproxy_port | default(oiofs_mountpoint_default_oioproxy_port) }}
